.backgrounds {
    background-image: url('sea.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 100px;
}

.spacing {
    border: thick gold dotted;
    padding: 7px 20px 7px 20px;
    text-align: center;
    font-size: 25px;

}
a:link {
    color: rgb(46, 4, 118);
}

a:active {
    color: black;
}

a:visited {
    color: brown;
}

a:hover {
    color: blueviolet;
}

nav{
    background-color: blanchedalmond;
    height: auto;
    width: 200px;
    display: flex;
    padding: 10px 25px;
}

nav ul {
    list-style: none;
}

.footer {
    text-align: center;
    color: pink;
    font-family: 'Times New Roman', Times, serif;
}


